.navbarAdminContainer {
  background-color: #123ac8;
  width: 100%;
}

.sizeTables {
  border: 1px solid #123ac8;
  width: 92%;
  margin: 0 auto;
  margin-top: 2%;

  height: 42px;
  position: relative;
}

.hourInAppointment {
  font-weight: bolder;
  width: 25%;
  font-size: 11px;
  padding: 3%;
  display: flex;
  align-items: center;
  border: 1px solid #123ac8;
}

.containerTables {
  width: 75%;
  height: 1px;
  background-color: #123ac8;
  position: absolute;
  bottom: 20%;
  left: 0%;
  margin-left: 25%;
}

.add-property {
  display: block;

  position: initial;
  margin: 0 auto;
  padding-left: 4%;

  margin-top: 1%;
}
#citasContainer {
  margin-left: 35%;
}

.cardZiseAppointments {
  width: 29rem;
  height: 16rem;
  border: none;
  height: 100%;
  border-radius: 0px;
  margin-left: 15%;
}

@media (max-width: 912px) {
  .cardZiseAppointments {
    width: 22rem;
    margin: 0 auto;
    margin-right: 1rem;
  }
  .hourInAppointment {
    font-size: 8px;
  }
  .sizeTables {
    margin-left: 3%;
    font-size: 10px;
    height: 42px;

    position: relative;
    border: 1px solid #123ac8;
  }
  #citasContainer {
    margin-left: 25%;
  }
  .add-property {
    padding-left: 3%;
  }
  #titleTableUser {
    margin-top: 1rem;
    width: 92%;
  }
  .thFavorite {
    display: none;
  }

  #titleTableProperty {
    width: 92%;
  }
  #titleAppointmentsSize {
    margin: 0 auto;
    margin-top: 1rem;
    width: 23rem;
  }
  .navbarAdminContainer {
    width: 100%;
  }
  tbody {
    word-break: break-all;
  }
}
@media (width: 540px) {
  .sizeTables {
    margin-left: 3%;
  }
  .thFavorite {
    display: none;
  }
  .cardZiseAppointments {
    width: 22rem;
    margin: 0 auto;
  }
  #titlesTables {
    margin-left: 27%;
  }
  #titleTableUser {
    width: 496px;
  }
  #titleTableProperty {
    width: 496px;
  }

  .add-property {
    margin: 0 auto;
    margin-top: 1%;
  }
  .navbarAdminContainer {
    width: 100%;
  }
}

@media (width: 360px) {
  #titleTableUser {
    margin: 0 auto;
    margin-top: 1%;
    width: 347px;
  }
  .thFavorite {
    display: none;
  }
  #titleTableProperty {
    width: 347px;
  }
  .sizeTables {
    margin: 0 auto;
    margin-top: 2%;
    width: 347px;
  }
  .add-property {
    padding-left: 2%;
    margin-top: 2%;
  }
}
