.conteiner-title-decoration-appointmens {
  border: 1px solid #123ac8;
  width: 60%;
  margin-top: 2%;
  margin-left: 20%;
  height: 42px;
  position: relative;
}
@media(max-width:700px){
  .conteiner-title-decoration-appointmens{
    width: 95%;
    margin: 0 auto;
    margin-top: 3%;
  }
}
.decoration-appointments {
  width: 75%;
  height: 1px;
  background-color: #123ac8;
  position: absolute;
  bottom: 20%;
  left: 0%;
  margin-left: 25%;
}
@media(max-width:700px){
  .decoration-appointments{
    width: 60%;
    margin-left: 40%;
   
  }
}
.title-appointments {
  padding-top: 1.9%;
  padding-left: 1%;
  color: #123ac8;
  font-weight: bolder;
}
@media(max-width:700px){
  .title-appointments{
    padding-top: 5%;
  }
}
.conteiner-appointments {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  border: 1px solid #123ac8;
  width: 60%;
}
@media(max-width:700px){
  .conteiner-appointments{
   width: 95%;
   display: block;
   margin-top: 4%;
  }
}
.conteiner-img-appointmens {
  padding: 2px;
  border-right: 1px solid #123ac8;
}
@media(max-width:700px){
  .conteiner-img-appointmens{
    border: none;
    padding: 3px;
    border-bottom:1px solid #123ac8;
  }
}
.conteiner-dirrecion-hora-fecha{
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.text-citas {
  border-bottom: 1px solid #123ac8;
  margin: 0%;
  padding: 0%;
  color: #123ac8;
  width: 100%;
  display: flex;
  padding-top: 5%;
  height: 33.4%;
  letter-spacing: 1px;
}
@media(max-width:700px){
  .text-citas{
    font-size: 12px;
    padding: 2% !important;
  }
}
.icon-citas {
  display: flex;
  position: relative;
  margin-top: 0.6%;
  margin-left: 4%;
  margin-right: 4%;
}
