.container {
  align-items: center;
  margin-bottom: 10px;
}

.card-text-admin {
  text-align: center;
  font-weight: bolder;
  margin-top: 30px;
}

@media (max-width: 700px) {
  .rounded {
    width: 100%;
  }
  #modal {
    width: 100%;
  }
  .modal-body {
    width: 100%;
  }
  #col {
    width: 50%;
  }
  .card-img {
    width: 100%;
    height: 120px;
  }
  .card-text-admin {
    font-size: x-small;
    margin-top: 30px;
  }
}
