.conteiner-title-decoration-favorite {
  border: 1px solid #123ac8;
  width: 69.5%;
  margin-left: 13%;
  margin-top: 2%;
  height: 42px;
  position: relative;
}
@media(max-width:700px){
    .conteiner-title-decoration-favorite{
        width: 95%;
        margin: 0 auto;
        margin-top: 4%;
    }
}
@media(max-width:700px){
   .card-favorite{
    width: 94% !important;
    margin: 0 auto !important;
}
}

.decoration-favorite {
  width: 75%;
  height: 1px;
  background-color: #123ac8;
  position: absolute;
  bottom: 20%;
  left: 0%;
  margin-left: 25%;
}
.title-favorite {
  padding-top: 1.9%;
  padding-left: 1%;
  color: #123ac8;
  font-weight: bolder;
}
.columnas-favorites{
    padding: 1.6%;
}
@media (max-width: 700px) {
    .columnas-favorites{
     padding: 4%;
    }
  }
.img-card-favorites {
  height: 110%;
  border-right: 1px solid #123ac8;
  padding: 2%;
  margin-left: 5%;
  border-radius: 0%;
}
@media (max-width: 700px) {
    .img-card-favorites{
     border-radius: 0% !important;
     margin-left: 11%;
     padding-right: 5% ;
    }
  }
.conteiner-price-address-favorites {
  width: 100%;
  display: flex;
}
@media (max-width: 700px) {
    .conteiner-price-address-favorites{
        margin-left: 5%;
        width: 94.2%;
    }
  }
.price-favorites {
  width: 40%;
  padding: 3%;
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
    .price-favorites{
      font-size: 8px;
    }
  }
.address-favorites {
  width: 60%;
  font-size: 11px;
  padding: 3%;
  display: flex;
  align-items: center;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
    .address-favorites{
      font-size: 8px;
    }
  }
.conteiner-bathrooms-bedrooms-meters-favorites {
  display: flex;
}
@media (max-width: 700px) {
    .conteiner-bathrooms-bedrooms-meters-favorites{
        margin-left: 5%;
        width: 94.2%;
    }
  }
.meters-favorites {
  width: 34%;
  padding: 3%;
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
    .meters-favorites{
      font-size: 8px;
    }
  }
.bedrooms-favorites {
  width: 33%;
  padding: 2%;
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
    .bedrooms-favorites{
      font-size: 8px;
    }
  }
.bathrooms-favorites {
  width: 33%;
  padding: 2%;
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
    .bathrooms-favorites{
      font-size: 8px;
    }
  }
.description-favorites {
  padding: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 700px) {
    .description-favorites{
      font-size: 11px;
      margin-left: 4%;
      padding: 4% !important;
    }
}
.conteiner-buttons-favorites {
  border-top: 1px solid #123ac8;
  height: 25%;
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
    .conteiner-buttons-favorites{
        margin-left: 5%;
        width: 94.2%;
    }
  }
.conteiner-button-favorite-favorites{
    margin-left: 30%;
}
.conteiner-button-appointment-favorites{
    margin-left: 8%;
}