.row > * {
  padding-left: 0% !important;
  padding-right: 0% !important;
}
.container{
  margin: 0 auto !important;
}
.buton-grid-ver-mas {
  cursor: pointer;
  border: 1px solid #123ac8;
  border-radius: 30px;
  width: 35%;
  height: 68%;
  font-size: 0.85rem;
  margin-left: 10%;
  background-color: transparent;
  color: #123ac8;
}
@media (max-width: 700px) {
  .buton-grid-ver-mas {
    font-size: 7px;
    width: 30%;
    height: 60%;
  }
}

#icon-grid {
  width: 160%;
  height: 160%;
  padding: 40%;
  border-radius: 30px;
  border: 1px solid #fe4236;
  color: #123ac8;
}
@media (max-width: 700px) {
  #icon-grid {
    width: 110%;
    height: 110%;
    padding: 20%;
  }
}

.baner {
  background-image: url("https://img10.naventcdn.com/avisos/18/00/64/78/56/38/720x532/329046282.jpg");
  background-size: 950px 310px;
  width: 69.5%;
  height: 350px;
  margin-left: 13%;
}
@media (max-width: 700px) {
  .baner {
    width: 82%;
    height: 210px;
    background-size: 500px 200px;
    margin: 0 auto;
    margin-top: 1.5%;
  }
}
.divider {
  width: 69.5%;
  height: 1px;
  margin-left: 13%;
  background-color: #123ac8;
  margin-top: 1.5%;
}
@media (max-width: 700px) {
  .divider {
    width: 82%;
    margin: 0 auto;
    margin-top: 3%;
  }
}

.h1-grid {
  color: white;
  font-size: 24px;
  text-align: end;
  font-weight: bolder;
}
@media (max-width: 700px) {
  .h1-grid {
    font-size: 19px;
  }
}
.conteiner-baner {
  width: 45%;
  margin-left: 55%;
  height: 100%;
  padding-top: 15%;
  padding-right: 3%;
  background: linear-gradient(to right, transparent, #123ac8);
}
@media (max-width: 700px) {
  .conteiner-baner {
    width: 80%;
    margin-left: 20%;
    padding-top: 13%;
  }
}

.buton-baner {
  margin-left: 60%;
  margin-top: 2%;
  border: 0px;
  width: 43%;
  height: 20%;
  color: #123ac8;
  background-color: white;
  border-radius: 19px;
  font-size: 13px;
}
@media (max-width: 700px) {
  .buton-baner {
    margin-top: 7%;
    margin-left: 45%;
    width: 60%;
    height: 25%;
    border-radius: 20px 0px 0px 20px;
  }
}
#filtro-grid {
  width: 69.6%;
  margin-top: 2%;
  margin-left: 13%;
  background-color: transparent;
  border: 1px solid #123ac8;
  color: #123ac8;
  font-weight: bolder;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  #filtro-grid {
    width: 82%;
    margin: 0 auto;
    margin-top: 3%;
  }
}

#badge-grid {
  position: absolute;
  margin-right: 125px;
  width: 1px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  margin-top: 0.5%;
}
@media (max-width: 700px) {
  #badge-grid {
    display: none;
  }
}

#badge-grid-2 {
  position: absolute;
  margin-left: 90px;
  width: 1px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.button-notifications {
  color: #123ac8;
  background-color: transparent;
  width: 157px;
  height: 39px;
  border-radius: 20px;
  border: 1px solid #123ac8;
  font-size: 13px;
}
@media (max-width: 700px) {
  .button-notifications {
    display: none;
  }
}
.button-favorite {
  color: #123ac8;
  background-color: transparent;
  height: 100%;
  width: 115px;
  margin-left: 5%;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #123ac8;
  font-size: 13px;
}
@media (max-width: 700px) {
  .button-favorite {
    display: none;
  }
}
#icon-notifications {
  margin-left: 5%;
  width: 26px;
  height: 26px;
  padding: 4%;
  border-radius: 20px;
  border: 1px solid #fe4236;
}
#icon-favorite {
  margin-left: 5%;
  width: 26px;
  height: 26px;
  padding: 6%;
  border-radius: 20px;
  border: 1px solid #fe4236;
}
.conteiner-grid-title {
  border: 1px solid #123ac8;
  width: 69.5%;
  margin-top: 2%;
  margin-left: 13%;
  height: 42px;
  position: relative;
}
@media (max-width: 700px) {
  .conteiner-grid-title {
    margin: 0 auto;
    margin-top: 3%;
    width: 82%;
  }
}
.title-decoration {
  width: 75%;
  height: 1px;
  background-color: #123ac8;
  position: absolute;
  bottom: 20%;
  left: 0%;
  margin-left: 25%;
}
@media (max-width: 700px) {
  .title-decoration {
    width: 60%;
    margin-left: 40%;
  }
}
.grid-title {
  padding-top: 1.9%;
  padding-left: 1%;
  color: #123ac8;
  font-weight: bolder;
}
@media (max-width: 700px) {
.grid-title {
    width: 35%;
    font-size: 12px;
  }
}
.location-and-price-grid {
  width: 100%;
  display: flex;
}
@media (max-width: 700px) {
  .location-and-price-grid {
    width: 93%;
    margin-left: 5%;
  }
}
.price-grid {
  width: 40%;
  padding: 3%;
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
  .price-grid{
    font-size: 8px;
  }
}

.location-grid {
  width: 60%;
  font-size: 11px;
  padding: 3%;
  display: flex;
  align-items: center;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
  .location-grid{
    font-size: 8px;
  }
}
.bathrooms-bedrooms-meters-grid {
  display: flex;
}
@media (max-width: 700px) {
  .bathrooms-bedrooms-meters-grid {
    width: 93%;
    margin-left: 5%;
  }
}

.conteiner-cards-grid{
  width: 100%;
  color: #123AC8;
}
.meters-grid {
  width: 34%;
  padding: 3%;
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
  .meters-grid{
    font-size: 8px;
  }
}
.bedrooms-grid {
  width: 33%;
  padding: 2%;
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
  .bedrooms-grid{
    font-size: 8px;
  }
}
.bathrooms-grid {
  width: 33%;
  padding: 2%;
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid #123ac8;
}
@media (max-width: 700px) {
  .bathrooms-grid{
    font-size: 8px;
  }
}
.description-grid {
  padding: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 700px) {
  .description-grid{
    font-size: 11px;
    margin-left: 4%;
    padding: 4% !important;
  }
  p {
    padding: 0% !important;
    margin-bottom: 0% !important;
  }
}
.conteiner-buttons-card-grid {
  border-top: 1px solid #123ac8;
  height: 25%;
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .conteiner-buttons-card-grid {
    width: 93%;
    margin-left: 5%;

  }
}

.card-img-grid{
  height: 110%;
  border-right: 1px solid #123AC8;
  padding: 2%;
  margin-left: 5%;
  border-radius: 0%,
}
@media (max-width: 700px) {
  .card-img-grid{
   border-radius: 0% !important;
   margin-left: 11%;
  }
}
.conteiner-icon-favorite{
  margin-left: 30%;
}
@media (max-width: 700px) {
  .conteiner-icon-favorite{
   margin-left: 22%;
  }
}
.conteiner-icon-appointment{
  margin-left: 8%;
}


@media (max-width: 700px) {
  .card-grid {
    margin: 0 auto !important;
    width: 81% !important;
  }
}
@media (max-width: 700px) {
  .columnas-grid{
  padding-top: 6% !important;
  }
}