.row > * {
  padding-left: 0% !important;
  padding-right: 0% !important;
}
.buton-grid {
  cursor: pointer;
  border: 1px solid #123ac8;
  border-radius: 30px;
  width: 35%;
  height: 68%;
  font-size: 0.85rem;
  margin-left: 10%;
  background-color: transparent;
  color: #123ac8;
}
#icon-grid {
  width: 160%;
  height: 160%;
  padding: 40%;
  border-radius: 30px;
  border: 1px solid #fe4236;
  color: #123ac8;
}
.baner {
  background-image: url("https://img10.naventcdn.com/avisos/18/00/64/78/56/38/720x532/329046282.jpg");
  background-size: 950px 310px;
  width: 69.5%;
  height: 350px;
  margin-left: 13%;
}
.division {
  width: 69.5%;
  height: 1px;
  margin-left: 13%;
  background-color: #123ac8;
  margin-top: 1.5%;
}
.h1-grid {
  color: white;
  font-size: 24px;
  text-align: end;
  font-weight: bolder;
}
.buton-baner {
  margin-left: 60%;
  margin-top: 2%;
  border: 0px;
  width: 160px;
  height: 40px;
  color: #123ac8;
  background-color: white;
  border-radius: 19px;
  font-size: 13px;
}
#filtro-grid {
  width: 69.6%;
  margin-top: 2%;
  margin-left: 13%;
  background-color: transparent;
  border: 1px solid #123ac8;
  color: #123ac8;
  font-weight: bolder;
  text-transform: uppercase;
}
#badge-grid {
  position: absolute;
  margin-right: 9.1%;
  width: 1px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  margin-top: 0.5%;
}
#badge-grid-2{
  position: absolute;
  margin-left: 6.7%;
  width: 1px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
 
}