.tabs{
    display: inline-block;
    position: relative;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.4s all ease;
}

.tabs:hover{
    color: #cdcdcd;
    transition: 0.4s all ease;
}
.tabs::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.tabs:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.text-h1{
    -webkit-text-stroke: 1.2px white;
    margin-left: 2%;
    font-weight: bolder;
    font-size: 33px;
    color: white;
}